arrow==0.15.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
dnspython==1.16.0
dominate==2.4.0
eventlet==0.25.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-MQTT==1.0.5
Flask_MySQL==1.5.1
Flask-SocketIO==4.2.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.15.1
MarkupSafe==1.1.1
mysql_connector==2.2.9
monotonic==1.5
numpy==1.19.0
paho-mqtt==1.4.0
pandas==1.0.5
pbr==5.4.5
Pillow==7.2.0
plaidbench==0.7.0
plaidml_keras==0.7.0
pocket==0.3.6
protobuf==3.12.0
pyfiglet==0.8.post1
PySocks==1.7.1
python-dateutil==2.8.1
python-engineio==3.10.0
python-socketio==4.3.1
pytz==2020.1
rainbowstream==1.5.2
regex==2020.6.8
requests==2.23.0
Sastrawi==1.0.1
six==1.12.0
stevedore==1.32.0
tqdm==4.46.1
twitter==1.18.0
typing==3.7.4.1
urllib3==1.26.5
virtualenv==16.7.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
visitor==0.1.3
Werkzeug==0.16.0
