<nav class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Deteksi Emosi</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li>
<a href="/">Beranda</a>
</li>
<li>
<a href="/dataset">Dataset</a>
</li>
<li>
<a href="/preprocessing">Preprocessing</a>
</li>
<li>
<a href="/model">LSTM</a>
<li>
<a href="/uji">Pengujian</a>
</li>
</li>
</ul>
</div>
<!--/.nav-collapse -->
</div>
</nav>