{% extends 'layout.html' %}

{% block title %} Beranda {% endblock %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Selamat Datang di Aplikasi Deteksi Emosi Twitter</h1>
        <h3>Tentang Aplikasi:</h3>
        <h4>Aplikasi ini untuk mendeteksi emosi pada tweet dengan jenis tweet personal</h4>
        <h4>Emosi yang diklasifikasi ada 5: anger, fear, happy, sadness, love, </h4>
    </div>
</div>
{% endblock %}