{% extends 'layout.html' %}

{% block title %} LSTM-GloVe {% endblock %}

{% block body %}

<div class="main-content-inner">
        <div class="row">
            <!-- seo fact area start -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="data-tables datatable-primary">
                                        <table id="dataTable" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td>No</td>
                                                <td>Tweet</td>
                                                <td>Prediksi</td>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for row in model %}
                                            <tr>
                                                <td>{{ row.0 }}</td>
                                                <td>{{ row.1 }}</td>
                                                <td>{{ row.2 }}</td>
                                            </tr>

                                            {% else %}
                                            <tr>
                                                <td colspan="2">No Data</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
           </div>
    </div>

{% endblock %}