{% extends 'layout.html' %}

{% block title %} Preprocessing {% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />

        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Masukkan tweet..">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">OK</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

{% block message %}
    <hr />
    <h4 class="text-center">TWEET</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

<table id="dataTable" class="table table-striped">
    <thead>
    <tr>
        <td>Sebelum Preprocessing</td>
        <td>Setelah Preprocessing</td>
    </tr>
    </thead>
    <tbody>
    {% for row in preprocessing %}
    <tr>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <!--<td>
            <a href="#!" class="btn btn-info" data-toggle="modal" data-target="#detail{{ row.0 }}"><i class="fa fa-info-circle"></i> detail </a>
        </td>-->
    </tr>
    <!--start modal detail
        <div class="modal fade bd-example-modal-lg" id="detail{{ row.0 }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Detail Preprocessing</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                            <h5>Hasil Teks Preprocessing</h5><br>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                <h5>Filtering</h5><br>
                                <label>{{ row.2 }}</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                <h5>Stopword</h5><br>
                                <label>{{ row.3 }}</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                <h5>Stemming</h5><br>
                                <label>{{ row.4 }}</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                                <h5>Tokenizing</h5><br>
                                <label>{{ row.5 }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        -->
    {% else %}
    <tr>
        <td colspan="2">No Data</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}