{% extends 'layout.html' %}

{% block title %} Uji {% endblock %}

{% block body %}

<h2>Iterasi 1</h2>
<table>
    <thead>
    <tr>
        <th>LABEL</th>
        <th>PRECISION</th>
        <th>RECALL</th>
        <th>F1-SCORE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Anger</td>
        <td>0.558</td>
        <td>0.438</td>
        <td>0.490</td>
    </tr>
    <tr>
        <td>Fear</td>
        <td>0.212</td>
        <td>0.175</td>
        <td>0.191</td>
    </tr>
    <tr>
        <td>Happy</td>
        <td>0.388</td>
        <td>0.345</td>
        <td>0.365</td>
    </tr>
    <tr>
        <td>Love</td>
        <td>0.222</td>
        <td>0.345</td>
        <td>0.270</td>
    </tr>
    <tr>
        <td>Sadness</td>
        <td>0.340</td>
        <td>0.475</td>
        <td>0.396</td>
    </tr>
    </tbody>
</table>

<h2>Iterasi 2</h2>
<table>
    <thead>
            <tr>
                <th>LABEL</th>
                <th>PRECISION</th>
                <th>RECALL</th>
                <th>F1-SCORE</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>Anger</td>
                <td>0.391</td>
                <td>0.782</td>
                <td>0.522</td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>0.059</td>
                <td>0.020</td>
                <td>0.029</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td> 0.472</td>
                <td>0.337</td>
                <td>0.393</td>
            </tr>
            <tr>
                <td>Love</td>
                <td>0.407</td>
                <td>0.275</td>
                <td>0.328</td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>0.347</td>
                <td>0.079</td>
                <td>0.128</td>
            </tr>
        </tbody>
    </table>

    <h2>Iterasi 3</h2>
    <table>
        <thead>
            <tr>
                <th>LABEL</th>
                <th>PRECISION</th>
                <th>RECALL</th>
                <th>F1-SCORE</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Anger</td>
                <td>0.276</td>
                <td>0.521</td>
                <td>0.361</td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>nan</td>
                <td>0.000</td>
                <td>nan</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>0.3502</td>
                <td>0.629</td>
                <td>0.450</td>
            </tr>
            <tr>
                <td>Love</td>
                <td>0.811</td>
                <td>0.465</td>
                <td>0.591</td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>0.270</td>
                <td>0.153</td>
                <td>0.196</td>
            </tr>
        </tbody>
    </table>

    <h2>Iterasi 4</h2>
    <table>
        <thead>
            <tr>
                <th>LABEL</th>
                <th>PRECISION</th>
                <th>RECALL</th>
                <th>F1-SCORE</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Anger</td>
                <td>0.255</td>
                <td>0.606</td>
                <td>0.359</td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>nan</td>
                <td>0.000</td>
                <td>nan</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>0.251</td>
                <td>0.519</td>
                <td>0.338</td>
            </tr>
            <tr>
                <td>Love</td>
                <td>0.857</td>
                <td>0.351</td>
                <td>0.498</td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>0.208</td>
                <td>0.147</td>
                <td>0.172</td>
            </tr>
        </tbody>
    </table>

    <h2>Iterasi 5</h2>
    <table>
        <thead>
            <tr>
                <th>LABEL</th>
                <th>PRECISION</th>
                <th>RECALL</th>
                <th>F1-SCORE</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Anger</td>
                <td>0.244</td>
                <td>0.669</td>
                <td>0.358</td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>0.250</td>
                <td>0.005</td>
                <td>0.010</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td>0.355</td>
                <td>0.404</td>
                <td>0.378</td>
            </tr>
            <tr>
                <td>Love</td>
                <td>0.708</td>
                <td>0.450</td>
                <td>0.550</td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>0.311</td>
                <td>0.279</td>
                <td>0.294</td>
            </tr>
        </tbody>
    </table>

{% endblock %}